  <div class="row">
    <div class="contents">
      <br><br>
      <div class="row justify-content-center"><h2>상품 등록</h2></div>
      <br><br>
      <form th:action="@{/items/new}" th:object="${itemForm}" method="post">
        <table class="table">
          <tr>
            <td><label th:for="itemName">상품명</label></td>
            <td><input type="text" size="80" th:field="*{itemName}"></td>
          </tr>
          <tr>
            <td><label th:for="stockQuantity">상품 수량(개)</label></td>
            <td><input type="text" size="80" th:field="*{stockQuantity}"></td>
          </tr>
          <tr>
            <td><label th:for="price">판매가(원)</label></td>
            <td><input type="text" size="80" th:field="*{price}"></td>
          </tr>
          <tr>
            <td><label th:for="itemImage">이미지(기능 추가 요)</label></td>
            <td><input type="file" th:field="*{itemImage}" /></td>
          </tr>
          <tr>
            <td><label th:for="content">상품 설명</label></td>
            <td><input type="text" size="80" th:field="*{content}"></td>
          </tr>
          <tr>
        </table>

        <div class="align-btn-prod-write">
          <button type="reset" class="btn btn-light text-nowrap">입력취소</button>
          <button class="btn btn-light text-nowrap">미리보기</button>
          <button class="btn btn-light text-nowrap">중간저장</button>
          <button class="btn btn-light text-nowrap"><a href="/CHOI/HTML/product_list.html">저장하기</a></button>
        </div>
      </form>
    </div>
  </div>
