<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  <title>Document</title>
</head>
<body>
<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Simple header</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
  </header>

  <div class="row">
    <div class="contents">
      <br><br>
      <div class="row justify-content-center"><h2>상품 등록</h2></div>
      <br><br>
      <form th:action="@{/items/new}" th:object="${itemForm}" method="post">
        <table class="table">
          <tr>
            <td><label th:for="itemName">상품명</label></td>
            <td><input type="text" size="80" th:field="*{itemName}"></td>
          </tr>
          <tr>
            <td><label th:for="stockQuantity">상품 수량(개)</label></td>
            <td><input type="text" size="80" th:field="*{stockQuantity}"></td>
          </tr>
          <tr>
            <td><label th:for="price">판매가(원)</label></td>
            <td><input type="text" size="80" th:field="*{price}"></td>
          </tr>
          <tr>
            <td><label th:for="itemImage">이미지(기능 추가 요)</label></td>
            <td><input type="file" th:field="*{itemImage}" /></td>
          </tr>
          <tr>
            <td><label th:for="content">상품 설명</label></td>
            <td><input type="text" size="80" th:field="*{content}"></td>
          </tr>
          <tr>
        </table>

        <div class="align-btn-prod-write">
          <button type="reset" class="btn btn-light text-nowrap">입력취소</button>
          <button class="btn btn-light text-nowrap">미리보기</button>
          <button class="btn btn-light text-nowrap">중간저장</button>
          <button class="btn btn-light text-nowrap"><a href="/CHOI/HTML/product_list.html">저장하기</a></button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>